### Java & Maven ###
target/
*.class
*.jar
*.war
*.ear

### IDEs (IntelliJ, VS Code, Eclipse) ###
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
bin/
*.swp

### Docker & OS ###
.docker/
Thumbs.db
Desktop.ini
.DS_Store

### Archivos Temporales de Estructura ###
estructura.txt
estructura_proyecto.txt

### Logs ###
*.log